.datetime {
  color: var(--main-subdue-color);
  line-height: 12px;
}

.listitem {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.image {
  position: relative;
  width: 100%;
  margin: 0;
}
.image > span {
  position: unset !important;
}
.image img {
  border-radius: 4px;
  object-fit: cover;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
  transition: height 0.3s;
}