@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import "./one-dark.css";

:root {
  --main-bg-color: #FFF;
  --main-text-color: rgb(43, 43, 43);
  --main-subdue-color: #6b6b6b;

  --main-link-color: rgb(43, 43, 43);

  --main-code-bg-color: hsl(220, 13%, 18%);
  --main-code-color: hsl(220, 14%, 90%);

  --main-font-family: 'Outfit', sans-serif;
  --main-pre-font-family: 'Source Code Pro';
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--main-font-family);
  color: var(--main-text-color);
  font-size: 18px;
  background: var(--main-bg-color);
}

a {
  color: var(--main-link-color);
  transition: all 0.1s ease-in-out;
}
a[data-header] {
  color: var(--main-text-color);
  text-decoration: none;
}
a[data-menu] {
  color: var(--main-text-color);
  text-decoration: none;
}
a:hover {
  opacity: 0.6;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow: hidden;
  text-overflow: ellipsis;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 40px;
  margin-bottom: 24px;
}

pre {
  overflow-x: scroll;
  padding: 16px;
  border-radius: 4px;
  margin: 32px 0;
}
code {
  font-family: var(--main-pre-font-family);
  background: var(--main-code-bg-color);
  color: var(--main-code-color);
  padding: 0 4px;
  border-radius: 4px;
}

pre > code {
  font-size: 16px;
  line-height: 16px;
}

h1 {
  font-size: 32px;
}
h1[data-title] {
  margin: 32px 0;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4, h5, h6 {
  font-size: 18px;
}

small {
  font-size: 14px;
}

ul {
  padding-left: 24px;
  margin: 16px 0;
  line-height: 1.7;
  list-style: inside;
}

li {
  margin: .8px 0;
  list-style: disc;
}
